server:
  port: 8080

spring:
  application:
    name: llm-spring-ai
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: gemma:2b
          temperature: 0.7

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha
